.cmp-image--logo .cmp-image__image {
  width: 65px;
}

.cmp-teaser--text-overlay {
  position:relative;
}

.cmp-teaser--text-overlay .cmp-teaser__content {
  position: absolute;
  width: 27%;
  margin: 15px;
}

.cmp-teaser--text-overlay .cmp-teaser__content .cmp-teaser__title {
  line-height: 1;
}

.cmp-teaser--text-overlay .cmp-teaser__content .cmp-teaser__description p {
  line-height: 1;
}

.cmp-title--center .cmp-title__text {
  text-align: center; 
}

.text .cmp-text {
  line-height: 1.5;
}
